root = "./"
luaservice = root.."service/?.lua;"..root.."?.lua"
lualoader = root .. "lualib/loader.lua"
lua_path = root.."lualib/?.lua;"..root.."lualib/?/init.lua"
lua_cpath = root .. "luaclib_linux/?.so"
snax = root.."?.lua"
cpath = root.."cservice_linux/?.so"

harbor = 0
start = "main"
bootstrap = "snlua bootstrap"

